.about {
  margin-top: 20vh;
}
.about h3 {
  margin-top: 10px;
  text-align: center;
}
.card img {
  height: 45vh;
}

.card-body {
  align-items: center;
  background-color: #ffffff;
  color: #332F2D;
}