#root {
  background-color: #FFFFFF;
}

nav.navbar.navbar-expand-lg.navbar-light a.navbar-brand {

  margin-left: 2em;
  margin-top: 2vh;
  /* margin-top: 2vh; */
}

.navbar-nav {
  margin-right: 2em;
  font-family: 'Fira Sans', sans-serif;
  font-weight:  600;
  font-size: 15px;
  margin-top: 1vh;
}