img.d-block.w-100 {
  height: 500px;
  margin-top: 20vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
}

.content {
  margin-top: 10vh;
}

.description.col-lg-5 {
  display: flex;
  align-items: center;
}

.room.col-lg-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room.col-lg-7 img{
  width: 100%;
  height: 100%;
}

.choose{
  margin-top: 10vh;
}

.choose h1{
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.card img {
  height: 25vh;
}

.card-body {
  background-color: #e9e6fd;
  color: #332F2D;
}